input[type="radio"] {
    visibility: hidden;
}

.config-label {
    border-radius: 4px;
    padding: 3px 5px;
    color: #1A1E24;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    border: none;
    min-width: 50%;
    box-shadow: 0px 0.25px #1a1e24;
}

.attribute-input::placeholder {
    color: white;
}

.attribute-input {
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    outline: none;
    border: none;
    padding: 3px 5px;
    color: #33FFB5;
    background-color: rgb(83, 83, 83);
    margin-left: 2.5%;
}

.attribute-empty {
    margin-left: 2.5%;
}
