input[type="radio"] {
    visibility: hidden;
}

.config-value-row {
    margin: 0px;
}

.config-label {
    border-radius: 4px;
    padding: 3px 5px;
    color: #1A1E24;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    border: none;
    min-width: 50%;
    box-shadow: 0px 0.25px #1a1e24;
}

.config-label-inactive {
    filter: brightness(36%);
}

.attribute-input::placeholder {
    color: white;
}

.attribute-input {
    border-radius: 5px;
    margin: 0 10px;
    background-color: rgb(241, 241, 241);
    outline: none;
    border: none;
    padding: 3px 5px;
    color: #33FFB5;
    background-color: rgb(83, 83, 83);
}

.inactive-attribute {
    display: none;
}
