.setup-row {
    margin: 5% 0;
}

.setup-column {
    margin: 5% 2%;
}

.required-field {
    color: red;
    font-weight: bold;
}

.field-header {
    margin: 5px;
    color: white;
}

.submit-btn {
    font-weight: bold;
    background-color: #33FFB5 !important;
    color: black;
}
