.docs {
    margin: 2.5% 30%;
    max-width: 33%;
}

.docs-section {
    margin-bottom: 5%;
}

.docs-section-header {
    margin-bottom: 2.5%;
}

.docs-section-header-reference {
    margin-right: 5px;
    color: #33FFB5;
}

.docs-section-body {
    font-size: 17px;
}

.docs-subsection {
    margin-left: 3%;
}

.docs-field-name {
    font-weight: bold;
}

.docs-code {
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
}
