.jumbotron {
    margin-top: 12.5%;
    box-shadow: none;
    background-color: transparent;
}

.custom-home-title {
    color: white;
}

.custom-home-card {
    color: white;
}

.custom-home-button {
    min-width: 135px;
    margin-bottom: 1%;
    background-color: #1B1B1B !important;
}
