.custom-navbar-logo {
    font-size: 35px;
}

.navbar-custom {
    padding: 1% 10%;
}

.nav-item-custom {
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    box-shadow: none;
}
