.annotation-prediction {
    padding: 25px;
    margin-bottom: 5%;
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    box-shadow: 0px 0.25px #1a1e24;
    cursor: pointer;
    text-align: center;
}

.annotation-prediction-text {
    font-weight: bold;
}

.prediction {
    margin-top: 10px;
}
