.custom-navbar-logo {
    font-size: 35px;
}

.navbar-custom {
    padding: 1% 10%;
}

.nav-item-custom {
    margin-right: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    box-shadow: none;
}

.github {
    -webkit-transition:  -webkit-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out; 
    transition: transform .2s ease-out; 
}

.github:hover {
   -webkit-transform:scale(1.1);
   -moz-transform:scale(1.1);
   -o-transform:scale(1.1);
   transform:scale(1.1);
}
